/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

/* header section */

@media only screen and (min-width: 962px){
    .nav-menu{
        display: flex;
        
        height: 50px;
        padding-bottom: 10px;
      }
    
      .nav-menu ul{
        display: flex;
        list-style: none;
        padding-left: 1000px;
        margin-right: 50px;
        margin-left: -50px;
        color: #5b5e6d;
        
      }
    
      .border{
        border: 1px solid black;
        border-radius: 2px;
        margin-left: 20px;
      }
    
      .about{
        margin-left: 20px;
      }
    
      .pricing{
        margin-left:20px;
      }
    
      .nav-menu img{
        width: 100px;
        height: auto;
        padding-left: 30px;
        
      }
    
      .humbuerguer-menu{
        display: none;
        
      }
    
      .header-section{
        display: flex;
        flex-direction: row-reverse;
        margin-right: 500px;
        
        
      }
    
      .header-section img {
    
        
        width: 600px;
        height: auto;
        margin-bottom: 20px;
        margin-top: 20px;
      }
    
      .header-section h1 {
        width: 400px;
        font-size: 60px;
        line-height: 55px;
        color: #2C303F;
        
      }
    
    
    
      .header-section p {
        padding-bottom: 100px;
        color: #5b5e6d;
        font-size: 1rem;
        max-width: 400px;
        
        
        
      }
    
      .button-get-started{
        color: white;
        background-color:#4450c0;
        padding: 15px 30px;
        border-radius: 5px;
        margin-top: 40px;
      }
    
      .main-section{
        background-color:#F4F3F4;
        padding-top: 40px;
        width: 1500px;
      }
    
    
      .main-section div{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
    
    
      .main-section h2{
        font-size:50px;
      }
    
      .main-section p{
       color: #5b5e6d;
       margin-top: -20px;
       margin-bottom: -20px;
      }
    
      .main-section button{
        padding: 20px 55px;
        border-radius: 5px; color:#00109c;
        border-color: #00109c;
        background-color: white;
        margin-right: 540px;
        
      }
    
      .main-section img{
        width: 200px;
        height: auto;
        margin-top:50px ;
        margin-bottom: 30px;
      }
    
      .white-background-div{
        padding-top: 100px;
        background-color: white;
        font-size: 1.5rem;
        
         
      }
    
    
    
    
      .white-background-div p{
        margin-right: 1000px;
        
        
      }
    
      .white-background-div p strong{
        color: rebeccapurple;
        
        
      }
    
      .white-background-div button{
        margin-left: 1500px;
        width: 250px;
        border-radius: 5px; color:#00109c;
        border-color: #00109c;
        color: white;
        background-color: #00109c;
        
      }
    
      #try-it-for-free {
        color: red;
      }
    
      #status {
        width: 1200px;
        padding-top: 10px;
        background-color:red;
        padding-bottom: 10px;
        
       }
    

}

.nav-menu{
    display: flex;
    
    height: 50px;
    padding-bottom: 10px;
  }

  .nav-menu ul{
    display: flex;
    list-style: none;
    padding-left: 1000px;
    margin-right: 50px;
    margin-left: -50px;
    color: #5b5e6d;
    
  }

  .border{
    border: 1px solid black;
    border-radius: 2px;
    margin-left: 20px;
  }

  .about{
    margin-left: 20px;
  }

  .pricing{
    margin-left:20px;
  }

  .nav-menu img{
    width: 100px;
    height: auto;
    padding-left: 30px;
    
  }

  .humbuerguer-menu{
    display: none;
    
  }

  .header-section{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 500px;
    
    
  }

  .header-section img {

    
    width: 600px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .header-section h1 {
    width: 400px;
    font-size: 60px;
    line-height: 55px;
    color: #2C303F;
    
  }



  .header-section p {
    padding-bottom: 100px;
    color: #5b5e6d;
    font-size: 1rem;
    max-width: 400px;
    
    
    
  }

  .button-get-started{
    color: white;
    background-color:#4450c0;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 40px;
  }

  .main-section{
    background-color:#F4F3F4;
    padding-top: 40px;
    width: 1500px;
  }


  .main-section div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  .main-section h2{
    font-size:50px;
  }

  .main-section p{
   color: #5b5e6d;
   margin-top: -20px;
   margin-bottom: -20px;
  }

  .main-section button{
    padding: 20px 55px;
    border-radius: 5px; color:#00109c;
    border-color: #00109c;
    background-color: white;
    margin-right: 540px;
    
  }

  .main-section img{
    width: 200px;
    height: auto;
    margin-top:50px ;
    margin-bottom: 30px;
  }

  .white-background-div{
    padding-top: 100px;
    background-color: white;
    font-size: 1.5rem;
    
     
  }




  .white-background-div p{
    margin-right: 1000px;
    
    
  }

  .white-background-div p strong{
    color: rebeccapurple;
    
    
  }

  .white-background-div button{
    margin-left: 1500px;
    width: 250px;
    border-radius: 5px; color:#00109c;
    border-color: #00109c;
    color: white;
    background-color: #00109c;
    
  }

  #try-it-for-free {
    color: red;
  }

  #status {
    width: 1200px;
    padding-top: 10px;
    background-color:red;
    padding-bottom: 10px;
    
   }











@media only screen and (max-width: 768px) {
    .nav-menu{
        display: flex;
        justify-content: space-between;
        height: 50px;
        padding-bottom: 10px;
      }

      .nav-menu img{
        width: 60px;
        height: auto;
        padding-left: 30px;
        
      }

      .humbuerguer-menu{
        margin-right: 40px;
        
      }

      .nav-menu ul{
        display: none;
        
      }

      .header-section {
        
        display: flex;
        flex-direction: column;
        align-items: center;
      

      }

      .get-started{
        padding-left: 90px;
      }

      .button-get-started{
        color: white;
        background-color:#4450c0;
        padding: 15px 100px;
        border-radius: 5px;
        margin-top: 40px;
      }

      .header-section img {
        width: 300px;
        height: auto;
        margin-bottom: 20px;
      }

   

      .header-section p {
        width: 280px;
        line-height: 25px;
        color: #5b5e6d;
        
      }

      .header-section h1 {
        width: 280px;
        line-height: 28px;
        color: #2C303F;
        
      }

      /* main section */

      .main-section{
        background-color:#F4F3F4;
        padding-top: 40px;
      }

      .main-section p{
        width: 280px;
        line-height: 25px;
        text-align: center;
        color: #5b5e6d;
        margin-bottom: 40px;
      }

      .main-section div{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .main-section button{
        padding: 20px 95px;
        border-radius: 5px; color:#00109c;
        border-color: #00109c;
        background-color: white;
        margin-right: 540px;
      }
      

      .main-section img{
        width: 200px;
        height: auto;
        margin-top:50px ;
        margin-bottom: 60px;
      }

      .white-background-div{
        background-color: white;
        font-size: 1.5rem;
        
      }

      

      .already-using-slack{
        margin-top: 2px;
        font-size: 1rem;
      }

      .white-background-div >button{
        background-color: #4450c0;
        color: white;
        margin-left: 550px;
      }

   
      
      }

      #company-product{
        display: grid;
        grid-template-columns: 50% 50%;
        color:#130308;
        margin-bottom: 40px;
      }

      .iso-slack-img{
        margin-left: -30px;
      }
      
     
      #company-product >ul{
        list-style: none;
        line-height: 38px;
      }

      .company-info{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        
      }

      .product-info{
        margin-right: px;
      }

      .resources-info{
        margin-left: 30px;
      }

      
       #status ul{
        display: flex;
        justify-content: center;
        list-style: none;
        font-weight: 500px;
        
       }

       #status {
        width: 768px;
        padding-top: 10px;
        background-color:#F4F3F4;
        padding-bottom: 10px;
        
       }


       #status > ul{
        font-weight: bold;
        color:#5b5e6d;
        
       }

       .footer-content >i{
        font-weight: 600;
       }

       .status-middle-li{
        padding-left: 24px;
        padding-right: 18px;
       }

       
        
       

       #flag-social{
        display: flex;
        flex-direction: column;
        background-color: #F4F3F4;
       }

       .usa-flag{
        
        width: 40px;
        padding-right: 10px;
       }

       .footer-content{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        padding-top: 20px;
        
        
       }

       .footer-content >i{
        padding-left: 5px;
        color: #5b5e6d;

       }
    

       #footer-social{
        display: flex;
        justify-content: center;
        
        
       }
  
       #footer-social > i{
        width: 40px;
        color: #5b5e6d;
        
       }


       @media only screen and (min-width: 767px) and (max-width: 961px) {
        .nav-menu{
            display: flex;
            justify-content: flex-start;
            height: 150px;
            padding-bottom: 10px;
          }
    
          .nav-menu img{
            width: 1080px;
            height: auto;
            padding-left: 60px;
            margin-right: 1000px;
            
          }

          hr{
            width: 1600px;
          }
    
          .humbuerguer-menu{
            margin-right: 400px;
            
          }
    
          .nav-menu ul{
            display: none;
            
          }

          .header-section {
        
            display: flex;
            flex-direction: column;
            align-items: center;
          }

            .header-section h1 {
                width: 1200px;
                font-size: 120px;
                color:#2C303F;
                padding-left: 500px;
                margin-bottom: 0px;
                
              }

              .header-section p {
                width: 1200px;
                
                color: #5b5e6d;
                font-size: 40px;
                padding-left: 500px;
                
              }

              .button-get-started{
                color: white;
                background-color:#4450c0;
                padding: 35px 100px;
                border-radius: 10px;
                margin-top: 0px;
                margin-left: 1000px;
                font-size: 20px;
              }

              .header-section img {
                width: 600px;
                height: auto;
                margin-bottom: 20px;
                align-items: center;
                margin-left: 700px;
              }


              
             
          /*main section */

          .main-section{
            background-color:#F4F3F4;
            padding-top: 40px;
            width: 1600px;
          }

          .main-section h2{
            width: 1200px;
            font-size: 60px;
            align-items: center;
            color:#2C303F;
            padding-left: 400px;
            margin-bottom: 0px;

          }
          
          .main-section p{
            width: 1200px;
            line-height:40px ;
            text-align: center;
            color: #5b5e6d;
            margin-bottom: 40px;
            font-size: 32px;
            padding-left: 80px;
          }

          .main-section button{
            padding: 30px 95px;
            border-radius: 10px; color:#00109c;
            border-color: #00109c;
            background-color: white;
            border-left: 200px;
            
          }

          #main {
            display: flex;
            flex-wrap:wrap;
          }

          .main-section img{
            width: 300px;

           
           
          }

                                              
          }

          #main > button{
            display: flex;
            margin-left: 550px;
            margin-top: 50px;
          }

          #main >div{
            display: grid;
            grid-template-columns: 50px 50px 50px 50px;
            width: px;

          }
            
          

           

        
